<div class="jumbotron bg-dark text-white p-3 rounded">
  <h1 class="display-4"><%= @friend.first_name %> <%= @friend.first_name %></h1>
  <p class="lead"><%= @friend.twitter %> | <%= @friend.email %> | <%= @friend.phone %></p>
  <br/>
  <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %>
  <%= link_to 'Back', friends_path, class:"btn btn-dark" %>
</div>
